.white {
  background-color: white;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #0097eb !important;
  font-weight: 600;
  font-size: 24px;
  margin-top: 30px;
  &:hover {
    background-color: darken(white, 4%);
  }
}
