@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
form {
  margin: 25px auto;
  width: 40%;
  text-align: center; }
  @media (max-width: 767px) {
    form {
      width: 90%; } }

.form-control {
  height: 56px;
  width: 100%;
  margin-top: 20px;
  font-size: 24px;
  font-family: 'Open Sans Hebrew', sans-serif; }

::-webkit-input-placeholder {
  font-family: 'Open Sans Hebrew', sans-serif; }

:-ms-input-placeholder {
  font-family: 'Open Sans Hebrew', sans-serif; }

:-moz-placeholder {
  font-family: 'Open Sans Hebrew', sans-serif; }

::-moz-placeholder {
  font-family: 'Open Sans Hebrew', sans-serif; }
