.file-upload {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  text-align: right;
  height: 70px;
  margin: 50px auto 25px;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.33;
  cursor: pointer;
  & p {
    margin-bottom: 0;
  }
  & i {
    margin-right: auto;
    font-size: 20px;
  }
  &:hover{
    background-color: #00a1fa;
  }
}
