div {
  text-align: center;
  button {
    margin: auto;
    display: block;
    width: 26%;
    height: 100px;
    color: #719ece;
    padding: 8px;
    background-color: #ffffff;
    font-family: "Open Sans Hebrew", sans-serif;
    font-size: 32px;
    -webkit-box-shadow: 7px 7px 148px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 148px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 148px -14px rgba(0, 0, 0, 0.75);
    @media (max-width: 767px) {
      font-size: 24px;
      width: 60%;
      margin-top: 40px;
    }
  }
}

